{{define "user/formPage"}}


{{ template "Header" }}
{{ template "Menu" }} 
{{ . }}

<div class="title">
  {{if .IsEdit }}Update{{else}}Create{{end}} 
</div>
 

<form method="POST">
  <input type="hidden" name="id" value="{{ .Data.Id }}" />
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="text" placeholder="Email" name="email" value="{{ .Data.Email }}" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input class="input" type="text" placeholder="Password" name="password" value="{{ .Data.Password }}">
    </div>
  </div>

  <div class="field">
    <label class="label">PasswordConfirm</label>
    <div class="control">
      <input class="input" type="text" placeholder="Password" name="password_confirm" value="{{ .Data.PasswordConfirm }}">
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <input type="submit" value="Save user" class="button is-primary"/>
    </div>
    
  </div>



</form><br />    
{{ template "Footer" }}
{{end}}