{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>CRUD con golang & GORM  </title>
        
        <!-- meta -->
        <meta charset="UTF-8" />
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1">
<!-- Write your comments here
        <link href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" rel="stylesheet">
         -->
        <link href="../../assets/css/styles.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
      <div class="title">
        CRUD con GORM (mysql example)
      </div>
      <div class="column ">

        
        
{{ end }}