{{ define "Menu" }}
<a href="/">HOME</a> | 
<a href="/login">LOGIN</a> | 
<a href="/employee/index">Employee</a>| 
<a href="/alumno/index">Alumno</a>| 
<a href="/matricula/index">matricula</a>| 

<a href="/user/index">user</a>| 


<br> 
<a href="/logout">logout</a> <br> 
{{ end }}